@media screen and (max-width: 430px) {
    .whole {
        flex-direction: column;
        align-items: center;
    }

    .left {
        /* border: 2px solid black; */
        width: 100vw;
    }
    
    .left p {
        margin: 3%;
        font-size: 7vw;
    }

    .right {
        margin: 0%;
        /* border: 2px solid black; */
        width: 95vw;
        align-items: center;
    }

    .top-text {
        text-align: center;
    }

    .top-text p:nth-child(1) {
        font-size: 6vw;
    }

    .top-text p:nth-child(2) {
        font-size: 4vw;
    }

    .image-discription{
        align-items: center;
        justify-content: flex-start;
        /* border: 2px solid black; */
        width: 85vw;
    }

    .image-discription p:nth-child(1){
        /* border: 2px solid gray; */
        width: 85vw;
        font-size: 5vw;
    }

    .image{
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .photo{
        width: 25vw;
        height: 20vh;
    }

    .choose-line label{
        width: 30vw;
        font-size: 4vw;
        width: 25vw;
    }

    .choose-line button{
        width: 30vw;
        font-size: 4vw;
        width: 25vw;
    }

    .choose-line button{
        font-size: 4vw;
    }

    .choose p{
        font-size: 4vw;
        width: 30vw;
    }

    .location{
        /* border: 2px solid gold; */
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        width: 85vw;
    }

    .location input{
        font-size: 4vw;
        width: 85vw;
    }

    .submit button{
        font-size: 5vw;
        border-radius: 5px;
        width: 30vw;
    }

    #go-back{
        font-size: 3vw;
    }
}

@media screen and (max-width: 415px) {
    .photo{
        width: 32vw;
        height: 15vh;
    }
}

@media screen and (max-width: 380px) {
    .photo{
        width: 30vw;
        height: 20vh;
    }
}

@media screen and (max-width: 365px) {
    .photo{
        width: 30vw;
        height: 15vh;
    }
}

@media screen and (max-width: 325px) {

    .whole {
        flex-direction: column;
        align-items: center;
    }

    .left {
        /* border: 2px solid black; */
        width: 95vw;
        margin: 2%;
    }

    .left p {
        font-size: 7vw;
    }

    .right {
        margin: 0%;
        /* border: 2px solid black; */
        width: 95vw;
        align-items: center;
    }

    .top-text {
        text-align: center;
    }

    .top-text p:nth-child(1) {
        font-size: 5vw;
    }

    .top-text p:nth-child(2) {
        font-size: 4vw;
    }

    .image-discription{
        align-items: center;
        justify-content: flex-start;
        /* border: 2px solid black; */
        width: 85vw;
    }

    .image-discription p:nth-child(1){
        /* border: 2px solid gray; */
        width: 85vw;
        font-size: 4vw;
    }

    .image{
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .photo{
        width: 30vw;
        height: 18vh;
    }

    .choose-line label{
        width: 30vw;
        font-size: 4vw;
        width: 25vw;
    }

    .choose-line button{
        width: 30vw;
        font-size: 4vw;
        width: 25vw;
    }

    .choose-line button{
        font-size: 4vw;
    }

    .choose p{
        font-size: 4vw;
        width: 30vw;
    }

    .location{
        /* border: 2px solid gold; */
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        width: 85vw;
    }

    .location input{
        font-size: 4vw;
        width: 85vw;
    }

    .submit button{
        font-size: 5vw;
        border-radius: 5px;
        width: 25vw;
    }

    #go-back{
        font-size: 3vw;
    }
}

@media screen and (max-width: 290px) {
    .photo{
        width: 32vw;
        height: 15vh;
    }
}