.choose{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 4% 0% 0% 4%;

    font-family: "Roboto", sans-serif;
    color: rgb(19, 19, 19);
    font-size: 1vw;
}

.choose-line{
    width: 15vw;
    display: flex;
}

.choose-input{
    width: 1vw;
    display: none;
}

.choose-line label {
    display: block;
    margin: 3%;
    width: 10vw;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.choose-line button {
    font-family: "Roboto", sans-serif;
    color: rgb(19, 19, 19);
    font-size: 1vw;
    display: block;
    margin: 3%;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.choose p{
    font-size: 1vw;
    font-weight: 600;
    display: block;
    width: 85%;
    border: none;
    padding: 5px;
    background-color: transparent;
    text-align: center;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 5px;
    margin: 2%;
    cursor: pointer;
}

.whole-image table{
    opacity: 0;
    z-index: -10;
    background-color: rgb(237, 237, 237);
    text-align: center;
    margin-left: 5%;
    width: 15vw;
    height: 25vh;
}

.whole-image table tr td{
    cursor: pointer;
    width: 30vw;
    height: 9vh;
}

.whole-image table tr td img{
    width: 3.5vw;
    height: 7vh;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
}

.location{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(25, 25, 25);
    font-size: 1.3vw;
}

.location input{
    display: flex;
    
    margin: 4% 0% 0% 0%;
    width: 41vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.2vw;
    padding-left: 1%;
    outline: none;
}

.location input:hover{
    background-color: rgb(234, 234, 234);
}

.submit{
    height: 7vh;
}

.submit button{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
    border: none;
    width: 15vw;
    height: 5vh;
    background-color: rgb(255, 91, 118);
    border-radius: 10px;
    cursor: pointer;
}

.submit button:hover{
    background-color: #ff1e44;
}

#go-back{ 
    margin-left: 2%;
    text-decoration:  none;
    color: rgb(151, 151, 151);
    font-family: "Roboto", sans-serif;
    font-size: 1.1vw;
}

#go-back:hover{
    text-decoration: underline;
}