@media screen and (max-width: 430px) {
    .top {
        width: 35vw;
    }

    .top p:nth-child(1) {
        font-size: 7vw;
    }

    .top button {
        font-size: 6vw;
        margin: 2%;
        width: 10vw;
    }

    .down { 
        margin-top: 5%;
    }

    .intro p:nth-child(1) {
        font-size: 5vw;
    }

    .intro p:nth-child(2) {
        font-size: 3vw;
    }

    .rectangle-box {
        margin-top: 10%;
        width: 80vw;
        flex-direction: column;
    }

    .same-template {
        width: 75vw;
        height: 50vh;
    }

    .same-template p{
        font-size: 5vw;
    }

    .finsh{
        width: 80vw;
        align-items: center;
        padding: 3%;
    }

    .finsh button{
        margin: 3% 0% 0% 0%;
        width: 40vw;
        height: 6vh;
        font-size: 5vw;
    }

    #press_return{
        margin: 3% 0% 3% 0%;
        font-size: 3vw;
    }
}

@media screen and (max-width: 420px){
    .top button {
        border-radius: 5px;
        margin: 5%;
    }

    .same-template {
        margin-top: 10%;
        width: 75vw;
        height: 35vh;
    }

    .rectangle-box {
        margin-top: 10%;
    }
}

@media screen and (max-width: 380px){
    .top button {
        margin: 5%;
        border-radius: 5px;
    }

    .same-template {
        width: 75vw;
        height: 45vh;
    }
}

@media screen and (max-width: 325px){
    .top button {
        margin: 5%;
        border-radius: 5px;
    }

    .same-template {
        width: 75vw;
        height: 40vh;
    }
}

@media screen and (max-width: 200px){
    .top button {
        margin: 5%;
        border-radius: 5px;
    }

    .same-template {
        width: 75vw;
        height: 30vh;
    }

    .finsh button{
        width: 45vw;
    }
}

@media screen and (max-width: 170px){
    .top button {
        margin: 5%;
        border-radius: 5px;
    }

    .same-template {
        width: 75vw;
        height: 25vh;
    }

    .finsh button{
        width: 45vw;
    }
}