@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

*{
    margin: 0;
    padding: 0;
}

.whole{

}

.top{
    margin: 3% 0% 0% 3%;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
    width: 15vw;
}

.top p:nth-child(1){
    font-family: "Damion", cursive;
    font-weight: 1000;
    color: rgb(255, 166, 0);
    font-size: 2vw;
    font-style: normal;
}

.top button{
    background-color: rgb(227, 227, 227);
    border: none;
    width: 3vw;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(119, 119, 119);
    font-size: 2vw;
    border-radius: 5px;
    cursor: pointer;
}

.down{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 83vh;
    margin: 2% 2% 0% 2%;
}

.intro{
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.intro p:nth-child(1){
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 2.3vw;
}   

.intro p:nth-child(2){
    font-weight: 500;
    color: rgb(132, 132, 132);
    font-size: 1.2vw;
    margin: 2% 0% 0% 0%;
}

.rectangle-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.same-template{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    border: 2px solid rgb(227, 227, 227);
    margin: 6% 0% 0% 2%;
    width: 22vw;
    /* height: 90%; */
    height: 35vh;
    border-radius: 10px;
}

.same-template:hover{
    box-shadow: 3px 3px rgb(0, 0, 0, 0.2);
}

.move-up{
    /* position: relative;
    bottom: 25%; */
    /* border: 2px solid black; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30vh; */
    /* width: 20vw; */
}

.same-template img{
    margin: 2%;
    width: 60%;
    height: 65%;
    border-radius: 10px;
}

.looking-for{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: rgb(40, 40, 40);
    font-size: 1.1vw;
    margin: 2%;
}

.same-template input{
    width: 10%;
    height: 10%;
    margin: 2%;
    cursor: pointer;
}

.design-show{ 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(163, 163, 163);
    font-size: 1vw;
}

.finsh{
    margin: 3%;
    width: 20vw;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finsh button{
    text-align: center;
    margin: 4% 0% 0% 0%;
    width: 12vw;
    height: 5vh;
    border: none;
    background-color: rgb(255, 136, 136);
    border-radius: 10px;

    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: rgb(243, 243, 243);
    font-size: 1.1vw;
    letter-spacing: 1px;
    cursor: pointer;
}

.finsh button:hover{
    background-color: rgb(255, 88, 88);
}

.finsh p{
    font-family: "Roboto", sans-serif;
    color: rgb(35, 35, 35);
    font-size: 1.1vw;
}

#press_return {
    margin: 5%;
    font-family: "Roboto", sans-serif;
    color: rgb(147, 147, 147);
    font-size: 1vw;
    cursor: pointer;
    text-decoration: none;
}

#press_return:hover{
    text-decoration: underline;
}

img{
    width: 10vw;
    height: 10vh;
}